<nav class="navbar navbar-expand-lg bg-body-secondary">
    <div class="container">
        <a class="navbar-brand bg-white p-1" href="index.html">
            <img src="assets/logo.svg" alt="logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto gap-5 align-items-center">
                <li class="nav-item ">
                    <a class="nav-link fs-6" href="jobs.html">Find Work</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link fs-6" href="about.html">About Us</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link fs-6" href="faq.html">FAQ</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link fs-6" href="contact.html">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link fs-6" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false">Welcome Purna <i class="fas fa-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Dashboard</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                      </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>