<footer class="bg-secondary-subtle">
    <div class="container-xxl">
        <div class="row">
            <div class="col-lg-3">
                <ul class="list-unstyled p-0">
                    <li class="mb-3 fs-6 fw-normal">About Us</li>
                    <li class="mb-3 fs-6 fw-normal">Feedback</li>
                    <li class="mb-3 fs-6 fw-normal">FAQ</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-unstyled p-0">
                    <li class="mb-3 fs-6 fw-normal">I'm a client</li>
                    <li class="mb-3 fs-6 fw-normal">I'm a freelancer</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <p class="fs-6 fw-normal mb-1">Follow Us:</p>
                <div class="footer-social-icons">
                    <img src="./assets/images/icons/Facebook.png" alt="Facebook" class="footer-icons">
                    <img src="./assets/images/icons/Instagram.png" alt="Instagram" class="footer-icons">
                    <img src="./assets/images/icons/YouTube.png" alt="Youtube" class="footer-icons">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="fs-6 fw-normal">
                    Copyright 2024. All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</footer>