<footer class="bg-body-secondary">
    <div class="container-xxl">
        <div class="row">
            <div class="col-lg-3">
                <ul class="list-unstyled p-0">
                    <li class="mb-3 fs-6 fw-normal">
                        <a href="/about.html" class="text-decoration-none text-dark">About Us</a>
                    </li>
                    <!-- <li class="mb-3 fs-6 fw-normal">
                        <a href="#" class="text-decoration-none text-dark">Feedback</a>
                    </li> -->
                    <li class="mb-3 fs-6 fw-normal">
                        <a href="/faq.html" class="text-decoration-none text-dark">FAQ</a>
                    </li>
                    <li class="mb-3 fs-6 fw-normal">
                        <a href="/policy.html" class="text-decoration-none text-dark">Privacy Policy</a>
                    </li>
                </ul>

            </div>
            <div class="col-lg-3">
                <ul class="list-unstyled p-0">
                    <li class="mb-3 fs-6 fw-normal">
                        <a href="/signup.html?tab=client" class="text-decoration-none text-dark">I'm a client</a>
                    </li>
                    <li class="mb-3 fs-6 fw-normal">
                        <a href="/signup.html?tab=freelancer" class="text-decoration-none text-dark">I'm a freelancer</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <p class="fs-6 fw-normal mb-3">Follow Us:</p>
                <ul class="footer-social-icons d-flex gap-3 list-unstyled">
                    <li>
                        <a href="#" class="text-decoration-none text-dark" target="_blank" rel="noopener noreferrer">
                            <img src="./assets/images/icons/Facebook.png" alt="Facebook" class="footer-icons" />
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none text-dark" target="_blank" rel="noopener noreferrer">
                            <img src="./assets/images/icons/Instagram.png" alt="Instagram" class="footer-icons" />
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none text-dark" target="_blank" rel="noopener noreferrer">
                            <img src="./assets/images/icons/Youtube.png" alt="Youtube" class="footer-icons" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <div class="fs-6 fw-normal">
                    Copyright 2024. All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</footer>