<!-- logged out navbar -->
<nav class="navbar navbar-expand-lg bg-body-secondary">
    <div class="container-xxl">
        <a class="navbar-brand bg-white p-1" href="#">
            <img src="./assets/logo.svg" alt="logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto gap-5 align-items-center">
                <li class="nav-item ">
                    <a class="nav-link fs-6 active" aria-current="page" href="#">Find Work</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link fs-6" href="#">About Us</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link fs-6" href="#">FAQ</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link fs-6 bg-white px-5 py-2" href="../signup.html">Sign in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>