@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --primary-bg: #d9d9d9;
    --secondary-bg: #F7F7F7;
    --button-bg: #F8A4A4;
    --dark-bg: #263559;
}

*,
html,
body {
    font-family: "Inter", sans-serif;
}

body {
    background: #fff;
}

/* li {
    list-style: none;
} */

.bg-primary {
    background-color: var(--primary-bg);
}

.bg-secondary {
    background-color: var(--secondary-bg);
}

.bg-pink {
    background-color: var(--button-bg);
}

.bg-dark-blue {
    background-color: var(--dark-bg);
}

input:focus {
    outline: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
}

section {
    padding: 6rem 0;
}

footer {
    padding: 6rem 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.home-banner {
    max-height: 25rem;
    overflow: hidden;
    object-position: bottom;
    padding-top: 0;
}

.home-search {
    width: 30rem !important;
}

.advertisement-container>.card {
    height: 25rem;
}

.footer-social-icons img {
    width: 34px;
    height: 34px;
}

.signup-container.container {
    max-width: 900px;
}

#showhide {
    width: 25px;
    position: absolute;
    right: 7%;
    top: 20%;
    cursor: pointer;
}

.nav-link.active {
    background-color: #d9d9d9 !important;
    padding: 0.5rem 1.5rem !important;
}

.job-banner {
    height: 10rem;
}

.navbar-brand .logo {
    width: 6rem;
    /* height: 24rem; */
    object-fit: cover;
}

.home-banner video {
    transform: scale(1.27);
    transform-origin: center;
}

.fs-7 {
    font-size: 0.875rem;
}

.job-title-content p,
.job-title-content li {
    font-size: 0.875rem;
}

.bidding>label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.bidding>input {
    outline: none;
    border: none;
    border-radius: 0;
    background: transparent;
    padding: 0.85rem 0;
    width: 100%;
}

.bidding-form>button {
    background-color: var(--dark-bg);
    color: #fff;
    padding: 0.85rem 2rem;
    border-radius: 0;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.15rem;
}

.biddy-sticky {
    position: sticky;
    top: 7.5rem;
    z-index: 99;
    max-height: max-content;
}