<!DOCTYPE html>
<html lang="zxx">
<head>
    <jcms:site:seotitle/>

    <!-- Fevicon -->
    <jcms:site:fevicon/>
    <link rel="shortcut icon" href="img/favicon.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&amp;family=Outfit:wght@300;400&amp;display=swap">
    <link rel="stylesheet" href="css/plugins.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <jcms:module:header/>
    <!-- Slider -->
    <header class="header slider-fade">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
          <jcms:module:slideshow/>
        </div>
    </header>
    
    <!-- About -->
    <jcms:module:home-article/>

    <!-- Rooms -->
    <jcms:module:list-package-room/>
    <!-- Restaurant -->
    <jcms:module:list-package-dine/>

    <!-- Amenities -->
    <section class="amenities section-padding">
        <div class="container">
            
            <div class="row mb-30">
                <div class="col-md-2">
                    <div class="sub-title border-bot-light">Our Services</div>
                </div>
                <div class="col-md-10">
                    <div class="section-title">Amenities <span>O'Ganga</span></div>
                    <p>The name Haven O'Ganga reflects our heritage and our desire for our hotel. Ganga was our grandmother's name. We chose 'Haven' because we wish for Haven O'Ganga to be a safe and comfortable home for all our guests.</p>
                </div>
            </div>
            <div class="row">

                <jcms:module:facility-list-home/>
            </div>
        </div>
    </section>

    <!-- Nearby -->
    <section class="amenities section-padding bg-white">
        <div class="container">
            <div class="row mb-30">
                <div class="col-md-2">
                    <div class="sub-title border-bot-light">Places to visit</div>
                </div>
                <div class="col-md-10">
                    <div class="section-title">Nearby <span>Attractions</span></div>
                    <p>Daily flight from Kathmandu and Pokhara. The closest airport is Bharatpur 32 km from the Hotel. Driving time from airport to the hotel is about an hour.</p>
                </div>
            </div>
            <div class="row mt-60">
                <div class="col-md-5">
                   <div class="nearby-home3">
                    <div class="row">
                       <jcms:module:inner-nearby-detail/>
                    </div>
                                    
                </div>
                </div>

                <jcms:module:inner-nearby-detail-map/>
            </div>
        </div>
    </section>
    
    <!-- Testiominals -->
    <jcms:module:testimonialList123/>
    

           <jcms:module:galleryHome/>
        

    <!-- Footer -->
    <jcms:module:footer/>
    <jcms:module:popup/>
    <!-- jQuery -->
    <script src="js/jquery-3.6.3.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.min.js"></script>
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/jquery.isotope.v3.0.2.js"></script>
    <script src="js/pace.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scrollIt.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/YouTubePopUp.js"></script>
    <script src="js/select2.js"></script>
    <script src="js/datepicker.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/custom.js"></script>

    <script>
        
        $('.getDirection').on('click',function(){
            // console.log($(this).data('src'));
            $('#iframe_map').attr('src',$(this).data('src'));
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            // $("#modal-popup-video").modal('show');
            // $('#modal-popup-video').on('hidden.bs.modal', function () {
            //     $("#modal-popup-image").modal('show');
            //     console.log("video closed")
            //     $("#modal-popup-video iframe").attr("src", "");
            // });
            // if ($('#modal-popup-video')[0]) {
            //     $("#modal-popup-image").modal('hide');
            // } else {
            //     $("#modal-popup-image").modal('show');
            // }
    
    
            if($('#modal-popup-image')[0]){
                const myModal = new bootstrap.Modal('#modal-popup-image');
                myModal.show();   
            }
            if($('#myCarousel')[0]){
                const carousel = new bootstrap.Carousel('#myCarousel')   
            }
        });
    </script>
</body>
</html>