@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

:root {
    --primary-bg: #d9d9d9;
    --secondary-bg: #F7F7F7;
    --button-bg: #F8A4A4;
    --dark-bg: #086972;
    --blue: #007bff;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--dark-bg) #fff;
}

*,
html,
body {
    font-family: "Inter", sans-serif;
}

body {
    background: #fff;
}

/* li {
    list-style: none;
} */

.bg-primary {
    background-color: var(--primary-bg);
}

.bg-secondary {
    background-color: var(--secondary-bg);
}

.bg-pink {
    background-color: var(--dark-bg)
}

.bg-pink:hover {
    background-color: #d46262;
}

.text-pink {
    color: var(--dark-bg);
}

.bg-pink:hover {
    /* background-color: #d46262; */
    background-color: #007bff;
}

.bg-dark-blue {
    background-color: var(--dark-bg);
}

.text-dark-blue {
    color: var(--dark-bg);
}

input:focus,
textarea:focus,
select:focus,
.accordion-button:focus {
    outline: 0 !important;
    /* border: 0 !important; */
    box-shadow: none !important;
}

section {
    padding: 4rem 0;
}

footer {
    padding: 6rem 0;
}

@media screen and (max-width: 768px) {
    section {
        padding: 1rem 0;
    }

    footer {
        padding: 2rem 1rem;
    }

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 999;
}

.home-banner {
    /* max-height: 25rem;
    overflow: hidden;
    object-position: bottom; */
    padding: 0;
}

.home-search {
    width: 30rem !important;
}

/* .advertisement-container>.card {
    height: 25rem;
} */

.footer-social-icons img {
    width: 1.75rem;
    height: 1.75rem;
    object-fit: contain;
    aspect-ratio: 1/1;
    /* padding: 5px; */
}

.signup-container.container {
    max-width: 900px;
}

#showhide,
#showhideF {
    width: 1.5rem;
    position: absolute;
    right: 7%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: #fff;
}


.nav-link.active {
    /* background-color: rgba(8, 105, 114, 0.25) !important; */
    background-color: var(--dark-bg) !important;
    color: #fff !important;
    padding: 0.5rem 1.5rem !important;
}

.job-banner {
    height: 10rem;
}

.navbar-brand .logo {
    width: 100%;
    height: 42px;
    object-fit: contain;
    /* filter: brightness(0) saturate(100%) invert(0%) sepia(82%) saturate(7492%) hue-rotate(123deg) brightness(77%) contrast(93%); */

}

/* .home-banner video {
    transform: scale(1.27);
    transform-origin: center;
} */

.fs-7 {
    font-size: 0.875rem;
}

.job-title-content p,
.job-title-content li {
    font-size: 0.875rem;
}

.bidding>label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.bidding>input {
    outline: none;
    border: none;
    border-radius: 0;
    background: transparent;
    padding: 0.85rem 0;
    width: 100%;
}

.bidding-form>button {
    background-color: var(--dark-bg);
    color: #fff;
    padding: 0.75rem 2rem;
    border-radius: 0;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.15rem;
}

.biddy-sticky {
    position: sticky;
    top: 7.5rem;
    z-index: 99;
    max-height: max-content;
}

.advertisement {
    width: 100%;
    height: auto;
    object-fit: contain;
    background-color: #fff;
    /* box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.09); */
}

.job-review-content .user-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2rem;
    aspect-ratio: 1/1;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.form-floating>label {
    padding-left: 0.75rem;
}

.form-floating>.form-control-plaintext~label,
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    transform: scale(.8) translateY(-1rem) translateX(.15rem);
}


.profile-picture-preview {
    margin-top: 10px;
    display: none;
}

.profile-picture-preview img {
    width: 100%;
    height: 12rem;
    object-fit: contain;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background: var(--dark-bg);
}



/* Our Team */


/* .our-team {
    margin-bottom: 30px;
    box-shadow: 0 10px 40px -10px rgba(0, 64, 128, .09);
} */

.our-team .team_img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.our-team .team_img:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: all 0.3s ease 0s;
}

.our-team:hover .team_img:after {
    bottom: 0;
}

.our-team img {
    width: 100%;
    height: auto;
}

.our-team .social {
    padding: 0 0 18px 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: -100%;
    right: 10px;
    background: var(--dark-bg);
    border-radius: 0 0 20px 20px;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.our-team:hover .social {
    top: 0;
}

.our-team .social li a {
    display: block;
    padding: 15px;
    font-size: 15px;
    color: #fff;
}


@media only screen and (max-width: 990px) {
    .our-team {
        margin-bottom: 30px;
    }
}

a.page-link:focus {
    border: 0;
    outline: 0;
    box-shadow: none;
}

.star {
    cursor: pointer;
    transition: all 0.3s ease-in;
}

/* .error-message {
    display: inline-block;
    padding: 0.5em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    pointer-events: none;
    user-select: none;
} */

form>div {
    position: relative;
}

span.validate-has-error,
span.text-danger {
    /* background-color: #fff; */
    /* position: absolute;
    top: 50%;
    left: 0; */
    z-index: 99;
    pointer-events: none;
    user-select: none;
    height: 100%;
    font-size: 0.85em;
    color: #f00 !important;
}

#searchForm1,
#searchForm2 {
    position: relative
}

#searchForm1 span.text-danger,
#searchForm2 span.text-danger {
    display: inline-block;
    margin-top: 5px;
    padding: 0.5em;
    position: absolute;
    top: 0;
    right: 25%;
    z-index: 99;
    pointer-events: none;
    user-select: none;
}

.dashboard-container .bg-body-secondary:hover,
.jobs-container .bg-body-secondary:hover {
    background: #d4d4d4 !important;
    transition: all 0.3s ease;
}

.hover-effect:hover {
    background: #fdfdfd !important;
    box-shadow: 0 2px 5px 5px rgba(0, 64, 128, 0.05);
    transition: all 0.3s ease;
}

.search-bar-desktop {
    top: 75%;
}

.read-more.modal-body {
    max-height: 50vh;
    overflow-y: auto;
}


/* 404 page */
/*Variables*/
.left-section .inner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.error_404_page .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0C0E10, #446182);
}
.error_404_page .background .ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25vh;
    background: #0C0E10;
}
.error_404_page .container {
    position: relative;
    margin: 0 auto;
    width: 85%;
    height: 100vh;
    padding-bottom: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.error_404_page .left-section, .error_404_page .right-section {
    position: relative;
}
.error_404_page .left-section {
    width: 40%;
    font-family: "Fira Sans", sans-serif;
    color: #f5f6fa;
}
.error_404_page .heading {
    text-align: center;
    font-size: 9em;
    line-height: 1.3em;
    margin: 2rem 0 0.5rem 0;
    padding: 0;
    text-shadow: 0 0 1rem #fefefe;
}
.error_404_page .subheading {
    text-align: center;
    max-width: 480px;
    font-size: 1.5em;
    line-height: 1.15em;
    padding: 0 1rem;
    margin: 0 auto;
}
.error_404_page .right-section {
    width: 50%;
}
.error_404_page .svgimg {
    position: absolute;
    bottom: 0;
    padding-top: 10vh;
    padding-left: 1vh;
    max-width: 100%;
    max-height: 100%;
}
.error_404_page .svgimg .bench-legs {
    fill: #0C0E10;
}
.error_404_page .svgimg .top-bench, .error_404_page .svgimg .bottom-bench {
    stroke: #0C0E10;
    stroke-width: 1px;
    fill: #5B3E2B;
}
.error_404_page .svgimg .bottom-bench path:nth-child(1) {
    fill: #432d20;
}
.error_404_page .svgimg .lamp-details {
    fill: #202425;
}
.error_404_page .svgimg .lamp-accent {
    fill: #2c3133;
}
.error_404_page .svgimg .lamp-bottom {
    fill: linear-gradient(#202425, #0C0E10);
}
.error_404_page .svgimg .lamp-light {
    fill: #EFEFEF;
}
@keyframes glow {
    0% {
        text-shadow: 0 0 1rem #fefefe;
    }
    50% {
        text-shadow: 0 0 1.85rem #ededed;
    }
    100% {
        text-shadow: 0 0 1rem #fefefe;
    }
}

@media (max-width: 770px) {
    .error_404_page .background .ground {
        height: 0vh;
    }
    .error_404_page .container {
        flex-direction: column;
        padding-bottom: 0vh;
    }
    .error_404_page .left-section {
        width: 100%;
        height: 40%;
        position: absolute;
        top: 0;
    }
    .error_404_page .left-section .inner-content {
        position: relative;
        padding: 1rem 0;
    }
    .error_404_page .subheading {
        font-size: 1.3em;
        line-height: 1.15;
        max-width: 100%;
    }
    .error_404_page .heading {
        font-size: 7em;
        line-height: 1.15;
        margin: 0;
    }
    .error_404_page .right-section {
        width: 100%;
        height: 60%;
        position: absolute;
        bottom: 0;
    }
    .error_404_page .svgimg {
        padding: 0;
    }
}
