<!DOCTYPE html>
<html lang="en">

<head>
    <jcms:site:seotitle/>

    <!-- Fevicon -->
    <jcms:site:fevicon/>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css'>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
<jcms:module:header/>

<main>
    <section class="home-banner position-relative">
        <jcms:module:slideshow/>
        <div class="bg-white p-3 mx-auto d-flex flex-column align-items-center
                position-absolute top-50 start-50 translate-middle-x d-none d-md-block w-50">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control border-0 fs-6" placeholder="Search by Keyword">
                <a href="#" class="btn text-dark rounded-0 border-0 fs-6 bg-pink px-5 py-2">Search</a>
            </div>
        </div>
        <div class="bg-white p-2 mx-auto d-flex flex-column align-items-center
                d-block d-md-none border" style="max-width: 500px;">
            <div class="input-group input-group-lg mx-2">
                <input type="text" class="form-control border-0 fs-6" placeholder="Search by Keyword">
                <a href="#" class="btn text-dark rounded-0 border-0 fs-6 bg-pink px-3 py-2">Search</a>
            </div>
        </div>
    </section>

    <jcms:module:home-article/>

    <section class="pb-4">
        <div class="container-xxl">
            <div class="row">
                <div class="col-lg-9">
                    <h2 class="fs-3 mb-4 fw-bold">Featured Jobs</h2>
                    <div class="jobs-container">
                        <jcms:module:jobs:home-list/>
                    </div>
                    <div class="py-3 d-flex justify-content-center">
                        <a href="./jobs"
                           class="text-center fs-6 fw-semibold bg-transparent border-0 text-dark text-decoration-none">View more</a>
                    </div>
                </div>
                <div class="biddy-sticky col-md-3 bg-white ps-3 mt-2 sticky-top">
                    <jcms:module:advert-home/>
                </div>
            </div>
        </div>
    </section>
</main>

<jcms:module:footer/>

<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js'
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
<!--<script src="./assets/js/app.js"></script>-->
</body>

</html>