<!DOCTYPE html>
<html lang="en">

<head>
    <jcms:site:seotitle/>

    <!-- Fevicon -->
    <jcms:site:fevicon/>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css'>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
<main class="container">
    <div class="d-flex justify-content-center mt-5">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4 mt-5">
            <h1 class="text-center fs-3 fw-bold my-3 mt-5">Recover Password</h1>
            <div class="mt-4">
               <jcms:module:user:reset-password-form/>
                <hr class="w-100 my-4">
                <div class="text-center">
                    Don't have an account? <a href="signup" class="text-decoration-none fs-6"> Sign up</a>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="assets/js/jquery-3.5.1.min.js"></script>
<script src="assets/js/jquery.validate.js"></script>

<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js'
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js'></script>
<script>
    var base_url = $('base').attr('url');

    window.onload = () => {
        let trigger = true;
        const showhide = document.getElementById('showhide');
        const passwordInput = document.getElementById('password');
        showhide.addEventListener('click', () => {
            if (trigger) {
                passwordInput.setAttribute('type', 'text');
                showhide.setAttribute('src', base_url + 'template/web/assets/images/icons/hide.png');
            } else {
                passwordInput.setAttribute('type', 'password');
                showhide.setAttribute('src', base_url + 'template/web/assets/images/icons/view.png');
            }
            trigger = !trigger;
        })
        
        let triggerF = true;
        const showhideF = document.getElementById('showhideF');
        const passwordInputF = document.getElementById('passwordF');
        showhideF.addEventListener('click', () => {
            if (triggerF) {
                passwordInputF.setAttribute('type', 'text');
                showhideF.setAttribute('src', base_url + 'template/web/assets/images/icons/hide.png');
            } else {
                passwordInputF.setAttribute('type', 'password');
                showhideF.setAttribute('src', base_url + 'template/web/assets/images/icons/view.png');
            }
            triggerF = !triggerF;
        })
    }
</script>
<script type="text/javascript">
    var base_url = $('base').attr('url');

    $(document).ready(function () {
        $("#resetPasswordForm").validate({
            errorElement: 'span',
            errorClass: 'validate-has-error text-danger',
            rules: {
                password: {required: !0},
                confirm_password: {required: !0, equalTo: "#password"},
            },
            messages: {
                password: {required: "Please enter your password"},
                confirm_password: {
                    required: "Enter your password confirmation",
                    equalTo: "Password Mismatch !"
                },
            },
            submitHandler: function (form) {
                if (form) {
                    var Frmval = $("#resetPasswordForm").serialize();
                    $("button#submitReset").attr("disabled", "true").text('Processing...');
                    $.ajax({
                        type: "POST",
                        dataType: "JSON",
                        url: base_url + "includes/controllers/ajax.user.php",
                        data: "action=resetUserPassword&" + Frmval,
                        success: function (data) {
                            var msg = eval(data);
                            if (msg.action == 'warning' || msg.action == 'unsuccess') {
                                $('#resetMsg').html(msg.message).removeClass('alert-success').addClass('alert alert-danger').css('display', 'block').fadeOut(8000);
                                $("button#submitReset").removeAttr("disabled").text('UPDATE');
                            }
                            if (msg.action == 'success') {
                                $('#resetMsg').html(msg.message).removeClass('alert-danger').addClass('alert alert-success').css('display', 'block').fadeOut(8000);
                                $("button#submitReset").removeAttr("disabled").text('UPDATED');
                                setTimeout(function () {
                                    window.location.href = base_url + "login";
                                }, 5000);
                            }
                        }
                    });
                    return !1;
                }
            }
        })
    });
</script>

</body>
</html>